<div id="preview" class="vertical">
	<div class="inner">
		<div class="content">
			<div class="image fit">
				<img src="assets/images/pic04.jpg" alt="" />
			</div>
			<header>
				<h2>Priyanka Rajput</h2>
			</header>
			<p>Myself Priyanka Rajput, native of Uttar Pradesh have acquired my B.sc from Jhansi (Uttar Pradesh)</p>
			<p>I blong from a town named as "CHIRGAON" near by a town called "JHANSI", Currently residing at Chirgaon. I done my schooling from Chirgaon (Uttar Pradesh) & graduation from Jhansi (Uttar Pradesh).</p>
		</div>
		
		<div class="content">
			<div class="image fit">
				<img src="assets/images/pic08.jpg" alt="" />
			</div>
			<header>
				<h2>Pushpendra Rajput</h2>
			</header>
			<p>Myself Pushpendra Rajput, native of Uttar Pradesh have acquired my B.tech from Bhopal (Madhya Pradesh).</p>
			<p>I blong from a village named as "KUIYA" near by a town called "SAMTHER", Currently residing at Delhi. I done my schooling from Gwalior (Madhya Pradesh) & graduation from Bhopal (Madhya Pradesh), come to profession career working in IT Company as a "Software Engineer". I am little bit imotional having interest in playing of computer games.</p>
		</div>
	</div>
</div>