<div id="preview" class="vertical">
	<div class="inner event-list">
		<div class="image fit">
			<img src="assets/images/tel.jpg" alt="" />
			<p>Haladi : Friday, 08th December 2017</p>
			<img src="assets/images/mandav.jpg" alt="" />
			<p>Mandav : Saturday, 09th December 2017</p>
		</div>
		<div class="image fit">
			<img src="assets/images/tilkah1.jpg" alt="" />
			<p>Tikah : Sunday, 10th December 2017</p>
			<img src="assets/images/vidae.jpg" alt="" />
			<p>Vidae : Monday, 11th December 2017</p>
		</div>
	</div>
</div>