    <!-- Header -->
    <header id="header">
      <div class="inner">
        <div class="content">
          <h1>Welcome</h1>
          <h2>Thanks for making our event privious<br />
          Enjoy our events.</h2>
          <a href="#" class="button big alt"><span>Let's Go</span></a>
        </div>
        <a href="#" class="button hidden"><span>Let's Go</span></a>
      </div>
    </header>
    <router-outlet></router-outlet>
    <!-- Footer -->
    <footer id="footer">
      <a href="#" class="info fa fa-info-circle"><span>About Us</span></a>
      <div class="inner">
        <div class="content">
          <h3>Vestibulum hendrerit tortor id gravida</h3>
          <p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
        </div>
        <div class="copyright">
          <ul class="event-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#/about-us">The Couple</a></li>
            <li><a href="#/events">Wedding Day</a></li>
            <li><a href="#/contact-us">Events</a></li>
            <li><a href="#/gallery">Getting There</a></li>
          </ul>
          <ul class="icons">
            <h3>Visit Us On Social Media</h3>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          </ul>
        </div>
      </div>
    </footer>
    