    <!-- Header -->
    <header id="header">
      <div class="inner">
        <div class="content">
          <h1>Wedding Invitation</h1>
          <h2>“Dearest friend, I invite you and your family to my wedding with Priyanka to be held on 10th December at Shiv Tent House, chirgaon jhansi from 07 pm onwards. I would love your presence by my side on the auspicious occasion.”</h2>
          <a href="#" class="button big alt"><span>Let's Go</span></a>
        </div>
        <a href="#" class="button hidden"><span>Let's Go</span></a>
      </div>
    </header>
    <router-outlet></router-outlet>
    <!-- Footer -->
    <footer id="footer">
      <a href="#" class="info fa fa-info-circle"><span>Wedding Invitation</span></a>
      <div class="inner">
        <div class="content">
          <h3>Wedding Invitation</h3>
          <p>Here are some moments which have some importance So my wedding came under those special one So me and my wife invite you to Attend our wedding</p>
        </div>
        <div class="copyright">
          <ul class="event-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#/about-us">The Couple</a></li>
            <li><a href="#/events">Wedding Day</a></li>
            <li><a href="#/contact-us">Events</a></li>
            <li><a href="#/gallery">Getting There</a></li>
          </ul>
        </div>
      </div>
      <audio autoplay>
          <source src="assets/wedding.mp3" type="audio/ogg">
          <source src="assets/wedding.mp3" type="audio/mpeg">
        </audio>
    </footer>
    