<!-- Main -->
      <div id="main">
        <div class="inner">
          <div class="columns">

            <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
              <div class="image fit">
                <a href="assets/images/pic01.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic01.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic02.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic02.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic03.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic03.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic04.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic04.jpg" alt="" /></a>
              </div>

            <!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
              <div class="image fit">
                <a href="assets/images/pic06.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic06.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic05.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic05.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic08.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic08.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic07.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic07.jpg" alt="" /></a>
              </div>

            <!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
              <div class="image fit">
                <a href="assets/images/pic09.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic09.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic12.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic12.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic11.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic11.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic10.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic10.jpg" alt="" /></a>
              </div>

            <!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
              <div class="image fit">
                <a href="assets/images/pic13.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic13.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic14.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic14.jpg" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="assets/images/pic15.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic15.jpg" alt="" /></a>
              </div>
              <div class="image fit" rel="fancybox-thumb">
                <a href="assets/images/pic16.jpg" rel="fancybox-thumb" class="fancybox-thumb"><img src="assets/images/pic16.jpg" alt="" /></a>
              </div>
          </div>
        </div>
      </div>